In [1]:
# importing the libraries which are in need 
import numpy as np
import pandas as pd

In [4]:
players = pd.read_csv('players_22.csv')  ## the read_csv is a pandas command in order to read datasets

C:\Users\SIDHARTH KANCHARLA\AppData\Local\Temp\ipykernel_13508\2731654625.py:1: DtypeWarning: Columns (25,108) have mixed types. Specify dtype option on import or set low_memory=False.
  players = pd.read_csv('players_22.csv')

In [5]:
players.head() #head shows the initial 5 rows  entries in a dataset

,sofifa_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,"RW, ST, CF",93,93,78000000.0,320000.0,34,...,50+3,50+3,50+3,61+3,19+3,https://cdn.sofifa.net/players/158/023/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,https://cdn.sofifa.net/teams/1369/60.png,https://cdn.sofifa.net/flags/ar.png
1,188545,https://sofifa.com/player/188545/robert-lewand...,R. Lewandowski,Robert Lewandowski,ST,92,92,119500000.0,270000.0,32,...,60+3,60+3,60+3,61+3,19+3,https://cdn.sofifa.net/players/188/545/22_120.png,https://cdn.sofifa.net/teams/21/60.png,https://cdn.sofifa.net/flags/de.png,https://cdn.sofifa.net/teams/1353/60.png,https://cdn.sofifa.net/flags/pl.png
2,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,"ST, LW",91,91,45000000.0,270000.0,36,...,53+3,53+3,53+3,60+3,20+3,https://cdn.sofifa.net/players/020/801/22_120.png,https://cdn.sofifa.net/teams/11/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1354/60.png,https://cdn.sofifa.net/flags/pt.png
3,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Júnior,"LW, CAM",91,91,129000000.0,270000.0,29,...,50+3,50+3,50+3,62+3,20+3,https://cdn.sofifa.net/players/190/871/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,NaN,https://cdn.sofifa.net/flags/br.png
4,192985,https://sofifa.com/player/192985/kevin-de-bruy...,K. De Bruyne,Kevin De Bruyne,"CM, CAM",91,91,125500000.0,350000.0,30,...,69+3,69+3,69+3,75+3,21+3,https://cdn.sofifa.net/players/192/985/22_120.png,https://cdn.sofifa.net/teams/10/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1325/60.png,https://cdn.sofifa.net/flags/be.png

In [8]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19239 entries, 0 to 19238
Columns: 110 entries, sofifa_id to nation_flag_url
dtypes: float64(16), int64(44), object(50)
memory usage: 16.1+ MB

In [9]:
players.columns

Index(['sofifa_id', 'player_url', 'short_name', 'long_name',
       'player_positions', 'overall', 'potential', 'value_eur', 'wage_eur',
       'age',
       ...
       'lcb', 'cb', 'rcb', 'rb', 'gk', 'player_face_url', 'club_logo_url',
       'club_flag_url', 'nation_logo_url', 'nation_flag_url'],
      dtype='object', length=110)

In [10]:
players.shape

(19239, 110)

In [11]:
features = ["overall", "potential", "value_eur", "wage_eur","age"]  ## featues which we are using for clustering

In [14]:
players = players.dropna(subset=features)  ## dropping null values

In [23]:
data = players[features].copy()

In [24]:
data

       overall  potential    value_eur  wage_eur  age
0           93         93   78000000.0  320000.0   34
1           92         92  119500000.0  270000.0   32
2           91         91   45000000.0  270000.0   36
3           91         91  129000000.0  270000.0   29
4           91         91  125500000.0  350000.0   30
...        ...        ...          ...       ...  ...
19234       47         52      70000.0    1000.0   22
19235       47         59     110000.0     500.0   19
19236       47         55     100000.0     500.0   21
19237       47         60     110000.0     500.0   19
19238       47         60     110000.0     500.0   19

[19165 rows x 5 columns]

# STEPS FOR K MEANS CLUSSTERING 
1. scale the data 
2. initialize the centroids 
3. Label data Points
4. update each centroid
5. repeat steps 3 and 4 until centroid stops changing

In [18]:
from sklearn.preprocessing import MinMaxScaler   ## scaling the data when data has large unique values

In [33]:
data = ((data - data.min())/(data.max() - data.min())) * 9 +1  #scaling the high values in between 0 and 1

In [34]:
data.describe()

            overall     potential     value_eur      wage_eur           age
count  19165.000000  19165.000000  19165.000000  19165.000000  19165.000000
mean       4.670472      5.319998      1.131826      1.219443      4.063345
std        1.346635      1.191076      0.353229      0.501528      1.575838
min        1.000000      1.000000      1.000000      1.000000      1.000000
25%        3.739130      4.521739      1.021621      1.012876      2.666667
50%        4.717391      5.304348      1.044817      1.064378      4.000000
75%        5.500000      6.086957      1.092369      1.193133      5.333333
max       10.000000     10.000000     10.000000     10.000000     10.000000

1. here we can see or observe that the min value is 1 and max value is 10

In [35]:
data.head()

     overall  potential  value_eur   wage_eur       age
0  10.000000   9.608696   4.618306   9.227468  7.000000
1   9.804348   9.413043   6.543655   7.939914  6.333333
2   9.608696   9.217391   3.087307   7.939914  7.666667
3   9.608696   9.217391   6.984396   7.939914  5.333333
4   9.608696   9.217391   6.822016  10.000000  5.666667

1. highest overall is 10 for lionel messi

+ Now we create the centroids with the help of k value i.e called as random centroids

In [40]:
def random_centroid(data,k):
    centroids = []
    for i in range(k):
        centroid = data.apply(lambda x : float(x.sample())) # it will iterate through every sample of data set and brings out the centroid value
        centroids.append(centroid)
    return pd.concat(centroids, axis=1)

In [64]:
centroids = random_centroid(data,5)

In [65]:
centroids

                  0         1         2         3         4
overall    3.347826  4.717391  5.500000  5.695652  7.456522
potential  5.304348  4.717391  6.282609  4.521739  7.260870
value_eur  1.045977  1.027417  1.087730  1.030897  1.087730
wage_eur   1.115880  1.090129  1.012876  1.005150  1.167382
age        1.666667  2.666667  3.666667  5.333333  4.666667

2. Lables for each datapoint it looks each data point it looks out distance (eucledian distance) and find out center cluster

In [51]:
# geometrical formula (distance)
def get_labels(data, centroids):
    distances = centroids.apply(lambda x: np.sqrt(((data - x)**2).sum(axis=1)))
    return distances.idxmin(axis=1)

In [52]:
labels = get_labels(data, centroids)

In [53]:
labels.value_counts()

0    5810
2    5637
1    4073
3    1908
4    1737
dtype: int64

+ STEP 3 : UPDATE THE CENTROIDS (GEOMETRIC MEAN)
+ GEOMETRIC MEAN = MEAN OF POINTS ECLUDIAN SPACE WHICH SAYS CENTER OF THE CLUSTER

In [55]:
def new_centroids(data, labels, k):
    data.groupby(labels).apply(lambda x: np.exp(np.log(x).mean())).T

1. SPLITING THE DATA FRAME BY CLUSTER
2. EACH GROUP APPLYING LAMBDA FUNCTION OF GEOMETRIC MEAN

# LAST STEP USING THE LOOP

+ DIMENSION REDUCTIONALITY INORDER TO DECREASE DIMENSIONS 
+ PLOTTING (MATPLOTLIB LIBRARY)

In [56]:
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
from IPython.display import clear_output

In [68]:
def plot_clusters(data, labels, centroids, iteration):
    pca = PCA(n_components=2)
    data_2d = pca.fit_transform(data)
    centroids_2d = pca.transform(centroids)
    clear_output(wait=True)
    plt.title(f'Iteration {iteration}')
    plt.scatter(x=data_2d[:,0], y=data_2d[:,1], c = labels)
    plt.scatter(x=centroids_2d[:,0], y=centroids_2d[:,1])
    plt.show()

In [69]:
max_iterations = 100
k =3
centroids = random_centroid(data,k)
old_centroids = pd.DataFrame()
iteration=1
while iteration < max_iterations and not centroids.equals(old_centroids):
    old_centroids = centroids 
    
    labels = get_labels(data, centroids)
    centroids = new_centroids(data,labels,k)
    plot_clusters(data,labels,centroids,iteration)
    iteration += 1

C:\Users\SIDHARTH KANCHARLA\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but PCA was fitted with feature names
  warnings.warn(

ValueError: Expected 2D array, got scalar array instead:
array=nan.
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.